.container {
  
  padding: 4rem 20rem;
}



.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 2rem;
}
.wrapper {
  margin-bottom: 2rem;
  border: 1px solid #9C9C9C;
  border-radius: 20px;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1 {
  border: 1px solid #254916;
  padding: 0.8rem;
  border-radius: 2rem;
  color: #254916;
  font-weight: bold;
  
}
.button2 {
  color: white;
  background-color: #254916;
  padding: 0.6rem 3rem;
  border-radius: 2rem;
  font-weight: bold;

  
}
.green-text {
  color: #778D6D;
}

.delete {
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  
}


.image {
  border-radius: 1.5rem;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container {
    padding: 0.5rem;
  }
}

@media (max-width: 800px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container {
    padding: 1rem ;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #fff;
  }
  .logo img {
    filter: invert(1);
  }
}
